{
    "extends": "airbnb",
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true,
        "node": true,
        "jest": true
    },
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "sourceType": "module"
    },
    "rules": {
        "max-len": [1, 130, 2]
    },
    "globals": {
        "$": true,
        "jQuery": true,
        "jquery": true
    }
}
